@import url('./variables.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./speaker.css');
@import url('./program.css');
@import url('./carrousel.css');
@import url('./topicsOfInterest.css');
@import url('./callForPosters.css');
@import url('./hotelAndLocation.css');
@import url('./registration.css');
@import url('./membership.css');
@import url('./organizersAndSponsors.css');
@import url('./contactUs.css');
@import url('./pageAnimations.css');
@import url('./venue.css');
@import url('./mediaQuery.css');
@import url('./socialEvent.css');



*{
  box-sizing: border-box !important;
}

body {
    font-family: Poppins, sans-serif;
    background-color: var(--azul);
    padding: 0;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

html{
  padding: 0;
}

/* @media screen and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem; 
  }
} */

.row {
    display: flex;
    gap: 1rem; /* space between images */
    width: 100%;
  }

    
  .row img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: calc(100% / 3 - 1rem); 
    height: auto; /* height will follow aspect-ratio */
  }



.header {
  font-size: 4rem;
  font-weight: bold;
}

