:root{
    --laranja: #ff914d;
    --azul: #020f1f;
    --cinza-fundo: #f4f7f9;
    --cinza-texto: #555;
    --branco: #ffffff;
    --sombra-suave: 0 8px 24px rgba(2, 15, 31, 0.05);

    --pagePadding: 5vw;
    --section-header-font-size: 4rem;
    --section-generic-p-font-size: 1.5rem;
}


div.spacer{
    --padding: 20px 0px;
    --background: transparent;
    --btnBorderRadius: 25px;
    --btnPadding: 9px 19px;
    --btnFontSize: 16px;
    --btnBorder: 1px solid white;



}

div.spacerScrollMode{
    --padding: 10px 0px;
    --background: var(--azul);
    --btnBorderRadius: 0px;
    --btnPadding: 10px 20px;
    --btnFontSize: 16px;
    --btnBorder: 0px;

}

button.collapseBtn{
  display: var(--displayMode);
}

